.announces-list:hover {
  /* transform: scale(1.05);
  transition: 0.3s; */

  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  border-radius: 10px;
}

.announces-list {
  position: relative;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15), 0 2px 1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
.img-box {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 200px;
  width: 100%;
}
.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s;
  transform: scale(1);
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card img:hover {
  transform: scale(1.3);
}

a.announces-link {
  text-decoration: none;
  color: black;
}

.icon-heart {
  position: absolute;
  right: 20px;
  top: 8px;
}

.announcement-type {
  position: absolute;
  top: 0px;
  left: 20px;
}

.announcement-type h5 {
  margin: 0;
}

.heart {
  color: white;
}
.heart-mark {
  color: tomato;
}
/* .heart:hover {
  color: tomato;
} */

.location {
  display: flex;
  justify-content: center;
}

.card-body {
  border-radius: 10px;
  padding: 0;
  padding-bottom: 10px;
}

.card-title {
  padding-left: 5px;
}

.price {
  display: flex;
  justify-content: center;
  background-color: #5d5b5a;
}
div.time {
  display: flex;
  justify-content: center;
}

.price span {
  color: white;
}

div.details-left {
  padding: 0;
}
.announce-details {
  font-style: normal;
}
.details-left span {
  padding-left: 10px;
}
.card-title {
  overflow: hidden;
  height: 35px;
}
.card-title h6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: bold;
}
.created_at {
  color: #5d5b5a;
}
.type1 {
  background-color: #6ea7ec;
}

.type2 {
  background-color: #199a81;
}

.type2:hover {
  background-color: #78c45a;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .announce-details {
    font-size: 12px;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .announce-details {
    font-size: 10px;
    padding: 0;
  }
  .img-box {
    height: 120px;
    width: 100%;
  }
  .card img {
    height: 120px;
    width: 100%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .img-box {
    height: 130px;
    width: 100%;
  }
  .card img {
    height: 130px;
    width: 100%;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 1024px) {
  .announce-details {
    font-size: 11px;
    padding: 0;
  }
}
