table.mail-list {
  table-layout: fixed;
  width: 100%;
}
td.columnA {
  width: 15%;
}
td.columnB {
  width: 50%;
}
td.columnC {
  width: 15%;
}
td.columnD {
  width: 20%;
}
.fix {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mail:hover {
  box-shadow: 0 0 1px 1px;
}
.mail-list tr {
  border-bottom: 1px solid #dee2e6;
}

.mail-read {
  font-weight: bold;
}

.star-2 {
  color: #e5c04d;
  box-shadow: inset 0 0 5px 5px #e5c04d;
}
/* .star:hover {
  color: #e5c04d;
  box-shadow: inset 0 0 5px 5px #e5c04d;
} */

@media only screen and (max-width: 1199px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  td.columnA {
    width: 100%;
  }
  td.columnB {
    width: 100%;
  }
  td.columnC {
    width: 100%;
  }
  td.columnD {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
